<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Gradle resource watching demo</title>
  <meta name="viewport" content="width=device-width">

  <script src="//use.edgefonts.net/league-gothic;lora:n4,i4.js"></script>
  <link rel="stylesheet" href="lib/normalize/normalize.css">
  <link rel="stylesheet" href="styles/demo.css">
</head>
<body>
  <section id="main">
    <h1>${model.message}</h1>
    <p>This demo is built with&hellip;</p>
    <nav class="logos">
      <a href="http://gradle.org/">Gradle</a>
      <a href="http://ratpack-framework.org/">Ratpack</a>
      <a href="http://compass-style.org/">Compass</a>
      <a href="http://gruntjs.com/">Grunt</a>
      <a href="http://coffeescript.org/">Coffeescript</a>
    </nav>
    <footer id="layout-footer"></footer>
  </section>
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="scripts/demo.js"></script>
</body>
</html>
