<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Test Runner</title>
  <link rel="stylesheet" type="text/css" href="lib/jasmine.css"></link>
  <script type="text/javascript" src="lib/jasmine.js"></script>
  <script type="text/javascript" src="lib/jasmine-html.js"></script>
  <script type="text/javascript" src="lib/jasmine.console_reporter.js"></script>
  <script type="text/javascript" src="lib/jasmine.junit_reporter.js"></script>
  
  <!-- include source files here... -->
  <% source.each { %>
    <script type="text/javascript" src="${it}"></script>
  <% } %>
  
  <!-- include spec files here... -->
  <% tests.each { %>
    <script type="text/javascript" src="${it}"></script>
  <% } %>

</head>
<body>
  
<script type="text/javascript">
  jasmine.getEnv().addReporter(new jasmine.ConsoleReporter());
  jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
  jasmine.getEnv().addReporter(new jasmine.JUnitXmlReporter("junit/"));
  jasmine.getEnv().execute();
</script>

</body>
</html>

